name: Lint and Test Java

on:
  workflow_call:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: vincev20/dcxeng-common-lintingtesting2
          ref: main
      
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run style check and tests with coverage
        run: |
          mvn -B clean compile com.spotify.fmt:fmt-maven-plugin:check
          mvn -B clean verify
